html {
    font-family: "Noto Sans JP", serif;
    font-optical-sizing: auto;   
}
#head {
    text-align: center;
}
#todo_board {
    text-align: center;
}
#tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    background-color: white;
}
.priority {
    padding: 10%;
    margin: 10px;
    border-radius: 5%;
    color: white; 
}
.priority:hover{
    cursor: pointer;
    transition: transform 0.4s ease;
    transform: scale(1.05);
    filter: brightness(90%) saturate(140%);
}
.high {
    background-color: lightcoral;
}
.medium {
    background-color: lightsalmon;
}
.low {
    background-color: lightblue;
}
#menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    padding: 2%;
    margin: 5%;
    border: 3px solid black;
    background-color: white;
}
.button:hover{
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.8s, color 0.2s ease;
    transform: scale(1.05); 
}
.create_task:hover {
    background-color: seagreen;
    color: white;
}
.delete_task:hover {
    background-color: red;
    color: white;
}
.stats:hover{
    background-color: #384CFC;
    color: white;
}
.all_tasks {
    background-color: white;
    text-align: center;
    padding: 10px;
}
.all_tasks:hover {
    background: linear-gradient(90deg, red 0%, red 25%, #384CFC 25%, #384CFC 50%, seagreen 50%, seagreen 75%, lightsalmon 75%, lightsalmon 100%);
    background-size: 200% 100%;
    animation: change_colors 3s infinite;
    color: white;
}
body {
    background: linear-gradient(0deg, red 0%, red 25%, #384CFC 25%, #384CFC 50%, seagreen 50%, seagreen 75%, lightsalmon 75%, lightsalmon 100%);
    background-size: 100% 1000px;
    animation: change_background_colors 10s infinite;
}

@keyframes change_colors {
  0%{
    background-position: 0% 0%;
  }
  100%{
    background-position: 200% 0%;
  }
}
@keyframes change_background_colors {
  0%{
    background-position: 0% 0%;
  }
  100%{
    background-position: 0% 1000px;
  }
}