html{
    font-family: "Noto Sans JP", serif;
    font-optical-sizing: auto;   
}
#head {
    text-align: center;
}
#todo_board {
    text-align: center;
}
#tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 1%;
}
.priority {
    padding: 10%;
    margin: 10px;
    border-radius: 5%;
    color: white; 
}
.priority:hover{
    cursor: pointer;
    transition: transform 0.4s ease;
    transform: scale(1.05);
    filter: brightness(90%) saturate(140%);
}
.high {
    background-color: lightcoral;
}
.medium {
    background-color: lightsalmon;
}
.low {
    background-color: lightblue;
}
#menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    padding: 2%;
    margin: 5%;
    border: 3px solid black;
}
.button:hover{
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.8s, color 0.2s ease;
    transform: scale(1.05); 
}
.create_task:hover {
    background-color: seagreen;
    color: white;
}
.delete_task:hover {
    background-color: red;
    color: white;
}
.stats:hover{
    background-color: #384CFC;
    color: white;
}

.all_tasks {
    background-color: transparent;
    text-align: center;
    padding: 10px;
}
